:root {
    --navbar-height: 50px;

    --dark-background: #016bb6;
    --medium-background: #d6e4f2;
    --light-background: #f7f7f7;

    --dark-border: #000080;
    --medium-border: #9db4ca;
    --light-border: #ffffff;

    --light-hover: #e9e9e9;
    --medium-hover: #d0d0d0;
    --dark-hover: #7d7d7d;

    --dark-font: #000000;
    --medium-font: #7d7d7d;
    --light-font: #ffffff;

    --emphasis: yellow;
}

body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.navbar {
    display: flex;
    height: var(--navbar-height);
    background-color: var(--dark-background);
    align-items: center;
    padding-left: 20px;
}

.select-file-input {
    color: var(--light-font);
}

.cfg-main {
    display: flex;
    margin: 0;
    height: calc(100% - var(--navbar-height));
    position: relative;
}

.panel {
    flex-grow: 1;
    margin: 10px;
    background-color: var(--medium-background);
    border-radius: 20px;
}

#resizer {
    cursor: ew-resize;
    width: 0;
    border-left: 2px var(--medium-border) dashed;
    z-index: 1;
}

#cfg-control-panel {
    width: 50vw;
    padding: 20px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

#cfg-display-panel {
    padding: 20px;
    overflow: scroll;
}

#cfg-window {
    width: 100%;
    height: 100%;
}

#viz-element {
    width: 100%;
    height: 100%;
}

.origin-block-card {
    width: 80vw;
    overflow-x: scroll;
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.origin-block-card h4 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.origin-block-card-header {
    cursor: pointer;
    display: flex;
    padding: 10px 20px;
    background-color: var(--light-background);
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.origin-block-card-title {
    width: 200px;
}

.origin-block-card-subtitles {
    padding-left: 20px;
    border-left: 1px solid #999;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 10px;
}

.origin-block-card-subtitle {
    /* Additional styling for subtitles if needed */
}

.origin-block-card-body {
    padding: 20px;
    display: none;
    background-color: white;
}

.origin-block-card-body>* {
    display: block;
    margin-bottom: 10px;
}

.origin-block-card-body-row {
    padding: 5px;
}

code {
    font-size: 18px;
    white-space: pre;
}

code button {
    cursor: pointer;
    font: inherit;
    border-style: none;
    background-color: var(--medium-background);
    border-radius: 5px;
    padding: 0;
    margin-bottom: 1px;
    margin-top: 1px;
}

.low-importance-button {
    opacity: 0.5;
}

code button:hover {
    background-color: var(--light-hover);
}

[data-tooltip]:hover {
    opacity: revert;
}

[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    border: 1px solid var(--dark-border);
    background: var(--light-background);
    padding: .25em;
}

.origin-block-card-header:hover {
    background-color: var(--light-hover);
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px var(--emphasis);
    }

    50% {
        box-shadow: 0 0 20px var(--emphasis);
    }

    100% {
        box-shadow: 0 0 5px var(--emphasis);
    }
}

.glowing {
    animation: glow 2s ease-out;
}

#cfg-show-all-switch {
    float: right
}

 /* The switch - the box around the slider */
 .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
 }

 /* Hide default HTML checkbox */
 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 /* The slider */
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
 }

 .slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: var(--light-background);
     -webkit-transition: .4s;
     transition: .4s;
 }

 input:checked+.slider {
     background-color: var(--dark-background);
}

 input:checked+.slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
 }

 /* Rounded sliders */
 .slider.round {
     border-radius: 34px;
 }

 .slider.round:before {
     border-radius: 50%;
 }
